<head>
  <title>Chat app</title>
</head>

<!--STORE TEMPLATE WITH NAME WELCOME HERE-->
<!--BELOW, STORE TEMPLATE CALLED MESSAGES-->
<body>
  <h1>Chatapp</h1>
  {{> welcome }}
  {{> errors  }}
  {{> new_msg}}
  {{> new_char}}
  {{> new_math}}
  {{> messages}}

  


</body>

<!--HERE IS THE TEMPLATE NAMED WELCOME-->
<template name="welcome">
  <p>
    Welcome to the example chat app! Please log in to show your username.

    DISPLAY ERRORS:
  </p>
   
</template>

<!--HERE IS THE TEMPLATE NAMED MESSAGES-->
<!--THE EACH TAG LOOPS OVER EVERY OBJECT IN LIST MESSAGES-->
<template name="messages">
   {{#each messages}}
   <strong>{{name}}:</strong>{{msg}}<br>
   {{/each}}
</template>






<template name="new_msg">
  
  <div class="new_msg">
    <input id="new_msg" type="text" />
    <input type="button" class="add" value="Add new msg(test for blank)"/>
  </div>
</template>

<template name="errors">
  
  <div class="errors">
  <p>
  {{#each error}}
  <strong>Error in {{field}}:</strong>&nbsp;{{error_msg}}&nbsp;&nbsp;&nbsp;
  <small>ERROR LOGGED AT TIME: {{time}} </small><br>
  {{/each}}

  </p>
  </div>
</template>

<template name="new_char">
  
  <div class="new_char">
    <input id="new_char" type="text" />
    <input type="button" class="add" value="Add new char(multi-choice test)"/>
  </div>
</template>

<template name="new_math">
  
  <div class="new_math">
    <input id="new_math" type="text" />
    <input type="button" class="add" value="Add new math(math test)"/>
  </div>
</template>
